################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VakifBankBootcampFinalTask/FileContentIndex
/.vs/slnx.sqlite
/.vs/VakifBankBootcampFinalTask/v17
/ApiProject/.vs/ApiProject
/.vs/VSWorkspaceState.json
/ApiProject/ApiProject/obj
/ApiProject/.vs/FinalTask
/FinalTask/.vs/ApiProject/FileContentIndex
/FinalTask/.vs/FinalTask/DesignTimeBuild
/FinalTask/.vs/FinalTask/FileContentIndex
/FinalTask/ApiProject/bin/Debug/net6.0/runtimes/browser/lib/net6.0
/FinalTask/ApiProject/bin/Debug/net6.0/runtimes
