################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VakifBankBootcampFinalTask/FileContentIndex
/.vs/slnx.sqlite
/.vs/VakifBankBootcampFinalTask/v17
/ApiProject/.vs/ApiProject
/.vs/VSWorkspaceState.json
/ApiProject/ApiProject/obj
